
.page-description {
    font-size: 18px;
    color: #000;
    background-color: #dad1dc;
    line-height: 1.5;
    margin: 20px 0;
    text-align:justify;
    padding: 20px; 
    border: 2px solid rgb(21, 21, 22);
    
}

.recent-roles {
    position: absolute;
    top: 215px;
    right: 10px;
    background-color: #2c3e50;
    color: #fff;
    border: #2ca3d5;
    padding: 5px 8px;
    cursor: pointer;
}

.recent-roles:hover {
    background-color: #0e3358;
}

.all-roles {
    position: absolute;
    top: 245px;
    right: 10px;
    background-color: #2c3e50;
    color: #fff;
    border: #2ca3d5;
    padding: 5px 8px;
    cursor: pointer;
}

.all-roles:hover {
    background-color: #0e3358;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


